.bgPink {
  background: var(--pink);
}

.bgYellow {
  background: var(--yellow);
}

.bgBlue {
  background: var(--blue);
}

.bgLightBlue {
  background: var(--lightBlue);
}

.textGreen {
  color: var(--green);
}
