.header_container {
  background: var(--black);
  color: var(--white);
}

.header {
  align-items: center;
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 25px;
  padding: 30px 50px;
}

.brand {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mobileNav {
  background: var(--black);
  color: var(--white);
  display: grid;
  grid-template-rows: 3;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.mobileNav_links__container {
  align-items: center;
  display: flex;
  font-size: 32px;
  grid-row: 1 / span 2;
  justify-content: center;
  text-align: center;
}

.mobileNav_links {
  margin: 25px 0;
  cursor: pointer;
}

.mobileNav_auth {
  align-items: center;
  display: flex;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}

.mobileNav_auth_email {
  font-size: 18px;
  margin: 10px 0;
}

.mobileNav_auth_logout {
  font-size: 22px;
  color: var(--pink);
  cursor: pointer;
}

.nav_auth {
  font-weight: 400;
  text-align: end;
}

.nav_auth_email {
  font-size: 20px;
  cursor: pointer;
}

.nav_auth_logout {
  font-size: 16px;
  color: var(--pink);
  cursor: pointer;
}

.footer {
  background: var(--black);
  color: var(--white);
  padding: 45px 50px;
}

.footer_links {
  display: flex;
  justify-content: space-between;
}

.footer_links_items {
  cursor: pointer;
  display: flex;
  margin: 15px 0;
}

.footer_navbar {
  font-size: 15px;
}

.footer_networks svg {
  margin: 0 5px;
}

.footer_brand {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .header {
    padding: 15px 10px;
  }

  .nav_auth {
    display: none;
  }

  .footer {
    padding: 40px 30px 25px 30px;
  }

  .footer_links {
    display: block;
  }

  .footer_networks svg {
    margin: 0 5px 0 0;
  }

  .footer_networks_container {
    margin: 80px 0 150px 0;
  }
}
